Library
Temp
Logs
_Builds
obj
.vs
*.sln
Recordings
UserSettings
.vsconfig
.csproj
*.csproj
*.apk
Assets/Firebase/Plugins/x86_64/
Assets/Plugins/tvOS/
Assets/Firebase/m2repository/com/google/firebase/
Assets/Plugins/iOS/
tesst_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a/lib_burst_generated.txt
tesst_BurstDebugInformation_DoNotShip/
*.aab
BurstDebugInformation_DoNotShip/
Assets/Editor Default Resources
Assets/Editor Default Resources/Firebase
Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-analytics-unity/11.8.1.meta
Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/
BurstDebugInformation_DoNotShip/tempburstlibs
*BurstDebugInformation_DoNotShip/tempburstlibs*
SerializedBuildInfo/
Assets/google-services.json
Assets/google-services.json.meta
Assets/StreamingAssets/google-services-desktop.json
Assets/StreamingAssets/google-services-desktop.json.meta
Assets/Plugins/Android/FirebaseApp.androidlib/res/values/google-services.xml
Assets/Plugins/Android/mainTemplate.gradle
ProjectSettings/AndroidResolverDependencies.xml
Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta
Assets/Plugins/Android/mainTemplate.gradle.meta
ProjectSettings/Packages/com.unity.probuilder/Settings.json
.vscode/settings.json
